<div class="page-header">
        <div class="align-items-md-center">
        
                <nz-tabset>
                  <nz-tab *ngFor="let role of userroles" [nzTitle]="'As a '+ role">
                    {{role}} role Articles
                    <div class="row">
                        <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-5">
                                        <nz-input-group [nzPrefix]="searchPrefix">
                                            <input type="text" nz-input placeholder="Search Article">
                                        </nz-input-group>
                                        <ng-template #searchPrefix>
                                            <i class="opacity-04" nz-icon type="search"></i>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-right m-v-10">
                                   
                                    <button nz-button nzType="primary" (click)="openDrawer()">
                                        <i nz-icon type="plus"></i>
                                        <span>Submit an Article</span>
                                    </button>  
                                     
                                </div>
                            </div>
                        </div>
                            <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <nz-card>
                                                <div class="justify-content-between">
                                                     <h6><strong>Article Title: </strong> Name goes here Article Name goes here Article Name goes here Article Name goes here</h6>
                                                     <strong>Authors: </strong> Jay, Prathap, Divya <br>
                                                     <strong>Journal: </strong> Cancer <br>
                                                     <strong>Article Status:</strong> Submitted <br>
                                                     <strong>Comments Recieved: </strong> asdfasdfasd asdfasdf  <br>
                                                     <strong>Action Links:</strong> <a class="pl-1 pr-1" href="javascript:void(0)"><i nz-icon nzType="edit" nzTheme="outline"></i> Edit</a> | <a class="pl-1 pr-1" href="javascript:void(0)"><i nz-icon nzType="delete" nzTheme="outline"></i> Delete</a> | <a class="pl-1 pr-1" href="javascript:void(0)"><i nz-icon nzType="retweet" nzTheme="outline"></i> Resubmit</a>
                                                </div>
                                            </nz-card>
                                        </div>
                                    </div>    
                                </div>
                  </nz-tab>
                </nz-tabset>

     
        </div>
    </div>
  

    <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="Conirm"
    nzOkText="Ok"
    nzCancelText="Cancel"
    (nzOnOk)="handleOk()"
    (nzOnCancel)="handleCancel()"
  >

  </nz-modal>

  <nz-drawer
      [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
      [nzMaskClosable]="false"
      [nzWidth]="720"
      [nzVisible]="visible"
      nzTitle="Submit an Article"
      (nzOnClose)="closeDrawer()"
    >
      <form nz-form>
        <div nz-row>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label>Tittle</nz-form-label>
              <nz-form-control>
                    <textarea
                    nz-input
                    placeholder="Please enter Article Title"
                    [nzAutosize]="{ minRows: 3, maxRows: 4 }"
                  ></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
           
        </div>
        <div nz-row nzGutter="8">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>Journal Name</nz-form-label>
              <nz-form-control>
                <nz-select nzPlaceHolder="Please select an owner"></nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>Article Type</nz-form-label>
              <nz-form-control>
                <nz-select nzPlaceHolder="Please choose the type"></nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row nzGutter="8">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>Approver</nz-form-label>
              <nz-form-control>
                <nz-select nzPlaceHolder="Please choose the approver"></nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>DateTime</nz-form-label>
              <nz-form-control>
                <nz-range-picker></nz-range-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row nzGutter="8">
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label>Abstract</nz-form-label>
              <nz-form-control>
                <textarea
                  nz-input
                  placeholder="please enter url description"
                  [nzAutosize]="{ minRows: 4, maxRows: 4 }"
                ></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
      <div class="footer">
        <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>Cancel</span></button>
        <button type="button" (click)="close()" class="ant-btn ant-btn-primary"><span>Submit</span></button>
      </div>
    </nz-drawer>