<app-header></app-header>
<app-header></app-header>

<main id="main">

    <!--==========================
    About Us Section
  ============================-->
    <section id="why-us" class="wow fadeIn" style="padding-top: 120px; padding-bottom: 0px">
        <div class="container">

            <header class="section-header">
                <h3>Open Access Journals List</h3>
                <p>Our Open Access Journals List</p>
              </header>
        </div>
    </section>
      <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
            <div class="container">
              <div class="row" *ngIf="dataAvailable">
                  <div 
                  class="col-md-6" 
                  data-wow-duration="1.4s" 
                  *ngFor="let item of listOfAllJournals; let index=index; let odd=odd; let even=even;"
                  >

                  <div class="box" style="padding: 0px; margin-bottom: 16px">
                    <div 
                    [id]="'jrnl'+index"
                    style="background-position: center;
                      background-repeat: no-repeat;
                      background-size: cover;"
                      >
                      <div style="padding: 30px;">
                          <div class="icon"><i class="ion-ios-unlocked-outline" style="color: white;"></i></div>
                          <h4 style="height: 36px;" class="title"><a [routerLink]="['/journals/journal-view/', item.journalShortName]" style="color: white">{{item.journalName}}</a></h4>
                      </div>
                       
                      <!-- <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p> -->
                    </div>
                  </div>
                </div>
 
              </div>
              <ngx-content-loading *ngIf="!dataAvailable"
              [speed]="'1500ms'"
              [width]="1000"
              [height]="300"
              [primaryColor]="'#e9e9e9'"
              [secondaryColor]="'#fafafa'">
              
                <svg:g ngx-rect width="470" height="80" y="10" x="10" rx="5" ry="5"></svg:g>
                <svg:g ngx-rect width="470" height="80" y="10" x="520" rx="5" ry="5"></svg:g>

                <svg:g ngx-rect width="470" height="80" y="100" x="10" rx="5" ry="5"></svg:g>
                <svg:g ngx-rect width="470" height="80" y="100" x="520" rx="5" ry="5"></svg:g>

                <svg:g ngx-rect width="470" height="80" y="190" x="10" rx="5" ry="5"></svg:g>
                <svg:g ngx-rect width="470" height="80" y="190" x="520" rx="5" ry="5"></svg:g>
                 
                
            </ngx-content-loading>
        
            </div>
          </section><!-- #services -->

        

</main>
<app-footer></app-footer>
