<app-header></app-header>
<app-header></app-header>

<main id="main">

    <!--==========================
    About Us Section
  ============================-->
    <section id="why-us" class="wow fadeIn" style="padding-top: 120px; padding-bottom: 0px">
        <div class="container">

            <header class="section-header">
                <h3>Open Access Journals List</h3>
                <p>Our Open Access Journals List</p>
              </header>
        </div>
    </section>
      <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
            <div class="container">
         
              <div class="row">
        
                <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
                  <div class="box">
                     <div class="icon"><i class="ion-ios-unlocked-outline" style="color: #4680ff;"></i></div>
                    <h4 class="title"><a href="">Journal Name</a></h4>
                    <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                  </div>
                </div>
                <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon"><i class="ion-ios-unlocked-outline" style="color: #4680ff;"></i></div>
                       <h4 class="title"><a href="">Journal Name</a></h4>
                       <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                     </div>
                </div>
        
                <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon"><i class="ion-ios-unlocked-outline" style="color: #4680ff;"></i></div>
                       <h4 class="title"><a href="">Journal Name</a></h4>
                       <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                     </div>
                </div>
                <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon"><i class="ion-ios-unlocked-outline" style="color: #4680ff;"></i></div>
                       <h4 class="title"><a href="">Journal Name</a></h4>
                       <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                     </div>
                </div>
        
                <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon"><i class="ion-ios-unlocked-outline" style="color: #4680ff;"></i></div>
                       <h4 class="title"><a href="">Journal Name</a></h4>
                       <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                     </div>
                </div>
                <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon"><i class="ion-ios-unlocked-outline" style="color: #4680ff;"></i></div>
                       <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                       <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                     </div>
                </div>
       
              </div>
        
            </div>
          </section><!-- #services -->

</main>
<app-footer></app-footer>
