 
<div class="row">
    <div class="col-md-12">
        <nz-card>
            <div class="d-flex">
                <h3>Organization details</h3>
             </div>
         </nz-card>
         
    </div>
    <div class="col-md-12">
        <nz-card>
            <h5 class="col-md-4" style="border-bottom: 3px solid #ccc; padding-bottom: 10px; text-align: center ">Organization Menu Management</h5>
            <div class="justify-content-between align-items-center ng-star-inserted">
                
                    <ul nz-menu nzMode="inline">
                            <li nz-submenu nzTitle="Navigation One" nzIcon="drag">
                                    <ul>
                                      <li nz-menu-item><i nz-icon nzType="drag" nzTheme="outline"></i> Option 11</li>
                                      <li nz-menu-item><i nz-icon nzType="drag" nzTheme="outline"></i> Option 12</li>
                                      <li nz-menu-item><i nz-icon nzType="drag" nzTheme="outline"></i> Option 13</li>
                                    </ul>
                                  </li>
                           <li nz-submenu nzTitle="Navigation Two" nzIcon="drag">
                              <ul>
                                <li nz-menu-item><i nz-icon nzType="drag" nzTheme="outline"></i> Option 11</li>
                                <li nz-menu-item><i nz-icon nzType="drag" nzTheme="outline"></i> Option 12</li>
                                <li nz-menu-item><i nz-icon nzType="drag" nzTheme="outline"></i> Option 13</li>
                              </ul>
                            </li>
                            <li nz-submenu nzTitle="Navigation Three" nzIcon="drag">
                                    <ul>
                                      <li nz-menu-item><i nz-icon nzType="drag" nzTheme="outline"></i> Option 11</li>
                                      <li nz-menu-item><i nz-icon nzType="drag" nzTheme="outline"></i> Option 12</li>
                                      <li nz-menu-item><i nz-icon nzType="drag" nzTheme="outline"></i> Option 13</li>
                                    </ul>
                                  </li>
                          </ul>
                </div>
             <div>
                
             </div>
         </nz-card>
    </div>
</div>