<app-header></app-header>
<main id="main">

    <!--==========================
    About Us Section
  ============================-->
  <app-journal-header></app-journal-header>


    <section id="about">
        <div class="container">
            <div class="row about-container">

                <div class="col-md-9 content order-lg-1 order-2">
                    <h4>Instructions for Authors</h4>
                    <p [innerHTML]="journalDetails.guidlines"></p>
                </div>
                <div class="col-lg-3 background order-lg-2 order-1 wow fadeInUp">
                    <img src="" style="width: 100%; height: 300px; border-radius: 4px" alt="">
    
                    <div style="border: 1px solid #ccc; border-radius: 4px">
                            <ngx-twitter-timeline 
                            [data]="{sourceType: 'url', url: 'https://twitter.com/research_valley'}"
                            [opts]="{tweetLimit: 5}"
                        ></ngx-twitter-timeline>
                  </div>
                </div>

                   
                </div>
           

        </div>
    </section>

</main>
<app-footer></app-footer>