<app-header></app-header>
<main id="main">

    <!--==========================
    About Us Section
  ============================-->
    <section id="why-us" class="wow fadeIn" style="padding-top: 120px; padding-bottom: 0px">
        <div class="container">

            <header class="section-header">
                <h3>Guidelines</h3>
                <p>Author, Editor and Reviewer Guidelines</p>
              </header>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row about-container">

                <div class="col-lg-12 content order-lg-1 order-2">
                    <h4>Author Guidelines</h4>
                    <hr>
                    <p>Authors are requested to submit their manuscripts, in accordance with the following format which would help in easy review by the Editorial Board (EB) members.
                    </p>
                    <h6>Editorial</h6>
                    <p>Written by the Editors, Associate Editors, or Invited Guest Editors of J Research Valley publications on a ramification of topics of research interests to the Journal readers lesser than or equal to one page.</p>
                    <h6>Letter to the Editor</h6>
                    <ul>
                        <li>Submitted by the Reader</li>
                        <li>Supports, refuses, or adds relevant facts associated with a formerly posted article</li>
                        <li>Authors correcting their very own work or responding to a critique in their article through a reader(s)</li>
                        <li>Abstract isn't mandatory</li>
                        <li>The letter is limited to divide into segments</li>
                    </ul>
                    <h6>Commentary</h6>
                    <ul>
                        <li>Authors interest of topic (scope is open to areas beyond science/technology)</li>
                        <li>Reviewers recommendation</li>
                        <li>Represents the “perspective” or “opinion” or “hypothesis” of the author(s)</li>
                        <li>Amount of authentic facts is minimum, but corroborative literature records endorsed</li>
                        <li>Format: Do not follow the define of Introduction, Materials/Methods, Discussion/Conclusions, and References</li>
                     </ul>
                     <h6>Review</h6>
                     <ul>
                         <li>Topic is quite vast in scope</li>
                         <li>Review article have to be on topic, which can attract a huge readership.</li>
                         <li>Represents an overview of published statistics and data from many authors and different sources</li>
                         <li>Does not comprise authentic statistics</li>
                         <li>Abstract and keywords are must</li>
                         <li>Usually consists of a huge number of references</li>
                     </ul>
                     <h6>Research</h6>
                     <ul>
                         <li>Follows the define of Introduction, Materials/Methods, Discussion/Conclusions, and References</li>
                         <li>Supported by considerable and applicable amount of statistics</li>
                         <li>Data must had been advanced by means of the writer(s)</li>
                         <li>Conclusions are primarily based basically on the records presented and compared to the published literature</li>
                     </ul>
                     <h6>Technology/Application (or Case Studies)</h6>
                     <ul>
                         <li>Describes a particular era or application</li>
                         <li>Surgical strategies, new gadgets, technical innovations</li>
                         <li>Contains original facts generated within the technique of growing the technology or in assist of the application</li>
                         <li>Supported by a good-sized quantity of statistics</li>
                         <li>May observe the outline of Introduction, Materials/Methods, Discussion/Conclusions, and References</li>
                         <li>Does the item provoke upon the readers a new technique/ or generation?</li>
                         <li>Case Studies- unique description with facts of the precise implementation of a software or the solution to a given practical trouble</li>
                     </ul>
                     <h6>Case Series</h6>
                     <ul> 
                         <li>The Case Series segment reports a sequence of 2-6 similar cases.</li>
                         <li>The cases have to be unique and specific on unusal disease presentation, pathogenesis, diagnosis, treatment and side effects of treatment.</li>
                         <li>The cases need to deal with a tough diagnostic and/or healing issues with most possible solutions to assist in treatment of side effects and assist clinicians in managing those instances with more accurate solutions.</li>
                         <li>Case series have to be accompanied with comprehensive review of literature.</li>
                     </ul>
                     <h6>Case Reports</h6>
                     <ul>
                         <li>Case Reports have to provide a unique explanation of previously unreported entity or document new presentation of an acknowledged disorder or a new angle of case which gives a diagnostic and healing task.</li>
                         <li>Case Reports need to consist of a complete evaluation of similar instances and state the variations among present case and former cases.</li>
                         <li>Case reports need to be accompanied with the aid of scientific, radiological and pathologic images.</li>
                     </ul>
                     <h6>Clinical Images</h6>
                     <ul>
                         <li>Clinical Images section consists of medical/clinical images, diagnostic or investigative images, mainly images in radiology, endoscopy, pathology and cytopathology.</li>
                         <li>Abstract isn't required.</li>
                         <li>The Clinical Images will go through peer review similar to other articles.</li>
                     </ul>

                     <h4>Editor Guidelines</h4>
                    <hr>
                    <p>Each Editor of the Editorial Board plays a crucial role in maintaining the standards of the journal and peer review. Editor of a journal should take the sole responsibility for its reputation and entire content.</p>
                    <ul>
                        <li>Based on the field of research (or) subject, editor will assign submitted manuscript to a reviewer for the peer review process</li>
                        <li>If that particular reviewer accepts to review the article then the author shall notify Annex Publishers the same, if not it shall be forwarded to another editor in the same field</li>
                        <li>The Editors are requested to send the acknowledgement to respective author after he/she receives the article</li>
                        <li>This should be provided within a short period where it would be helpful to the author for an update on the paper's status</li>
                        <li>If the articles do not meet the policies of submission it would likely to be rejected.</li>
                    </ul>
                    <p>Following these 3guidelines, we ensure that our review process will be efficient and helpful in maintaining the standard and quality of the articles. This will also be helpful for maintaining a good scientific relation between author(s), editors and reviewers.</p>

                    <h4 id="reviewerGuidelines">Reviewer Guidelines</h4>
                    <hr>
                    <p>Manuscripts submitted by Author(s) are reviewed by reviewers for relevancy without which it would be impossible to maintain high standards of peer-reviewed journals. Manuscript is assigned to an editor, who in turn chooses one or more editorial board members or reviewers to review it.</p>
                    <ul>
                        <li>After receiving the invitation reviewer should determine whether the subject is within the area of expertise or not. He/she should intimate their availability to complete the review in given time</li>
                        <li>One can intimate us your opinion of accepting or declining the invitation. If you are not able to accept the invitation you can suggest any of your colleagues so that respective editor may invite that person to review and you should not transfer your invitation</li>
                        <li>After accepting the invitation he/she should check the manuscript title page twice and acknowledgement for conflicts of info provided (about author(s), organization and funds)</li>
                        <li>Reviewer should have a look at relevant portions of the research paper and verify that it fits within the scope of the journal</li>
                        <li>One should contact the editor if there is any problem regarding time or conflicts of interest, based on that the reviewer may extend the deadline or cancel the review assignment</li>
                        <li>During the review process if you find the research paper do not fit the scope of interest you may intimate it to the editor</li>
                        <li>Reviewers are not entertained to discuss about the paper with respective author(s)</li>
                        <li>We request reviewers not to use the information of the manuscript for their own use and to protect it from any sort of violation</li>
                        <li>Criticism should be presented dispassionately and offensive remarks are not acceptable.</li>
                    </ul>
                </div>
            </div>
 
        </div>
    </section><!-- #about -->

</main>
<app-footer></app-footer>