<nz-layout class="has-sidebar">
    <cms-sidebar></cms-sidebar>
    <nz-layout>
       <cms-profile-header></cms-profile-header>
      <nz-content style="margin:0 16px;">
        <nz-breadcrumb style="margin:16px 0;">
          <nz-breadcrumb-item>cms</nz-breadcrumb-item>
          <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="dashboard-layout">
          Dash Board Works
        </div>
      </nz-content>
   <cms-footer></cms-footer>
    </nz-layout>
  </nz-layout>





