<app-header></app-header>
<main id="main">

    <!--==========================
    About Us Section
  ============================-->
    <section id="why-us" class="wow fadeIn" style="padding-top: 120px; padding-bottom: 0px">
        <div class="container">

            <header class="section-header">
                <h3>About</h3>
                <p>J Research Valley is an Open Access publication model allows the dissemination of research articles to the worldwide community.</p>
              </header>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row about-container">

                <div class="col-lg-6 content order-lg-1 order-2">
                    <p>
                            We offer you the advantage of interaction with the most effective minds from the scientific community. All articles published online under open access will be accessed by anyone.
                    </p>
                    <p>We at J Research Valley Publisher are a group of people with a combined passion for science and research, who wants to bring to the world a unified platform where all scientific information is available. We want to bring original and genuine scientific research to the public with the hope of spreading knowledge. Given our vast scope of curating scientific content, it is safe to assume that what you read here could change life, as we know it.</p>

                    <!-- <div class="icon-box wow fadeInUp">
                        <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                        <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
                        <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero
                            tempore, cum soluta nobis est eligendi</p>
                    </div>

                    <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon"><i class="fa fa-photo"></i></div>
                        <h4 class="title"><a href="">Magni Dolores</a></h4>
                        <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                            deserunt mollit anim id est laborum</p>
                    </div>

                    <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon"><i class="fa fa-bar-chart"></i></div>
                        <h4 class="title"><a href="">Dolor Sitema</a></h4>
                        <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat tarad limino ata</p>
                    </div> -->

                </div>

                <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
                    <img src="../assets/img/about-img.svg" class="img-fluid" alt="">
                </div>
            </div>

            <div class="row about-extra">
                <div class="col-lg-6 wow fadeInUp">
                    <img src="../assets/img/about-extra-1.svg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                    <!-- <h4>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h4> -->
                    <p>
                            As scientific publishers, we strive to build a robust portal of original open access journals with research articles that are written by scientific researchers, for scientific researchers. This includes all forms of content like research papers, survey findings and perspective articles in various disciplines like Medical, Clinical, Life Sciences and Pharmaceuticals. Our editorial board consists of highly acclaimed academic editors who have expertise in many areas. They work tirelessly to explore science and bring those new findings on to your computer or mobile screen near you!
                    </p>
                    <p>
                            For those who share our passion, we can publish your research work to wide global audience and create high impact for your findings. Your articles, along with other credited works of science will go through rigorous standard checks and peer review before being published. We also give you access to a range of high-quality research that can help fuel your passion for scientific reading and keep you abreast with what's new in the world of science.

                    </p>
                </div>
            </div>

            <div class="row about-extra">
                <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                    <img src="../assets/img/about-extra-2.svg" class="img-fluid" alt="">
                </div>

                <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                    <h4>Open Access Policy</h4>
                    <p>
                            All articles published by J Research Valley Publishers are Open Access under the Creative Commons Attribution License. Under this license, authors retain ownership of the copyright for their content, and anyone can copy, distribute, or reuse these articles as long as the author and original source are properly cited.
                    </p>
                    <!-- <p>
                        Voluptas saepe natus quidem blanditiis. Non sunt impedit voluptas mollitia beatae. Qui esse
                        molestias. Laudantium libero nisi vitae debitis. Dolorem cupiditate est perferendis iusto.
                    </p>
                    <p>
                        Eum quia in. Magni quas ipsum a. Quis ex voluptatem inventore sint quia modi. Numquam est aut
                        fuga mollitia exercitationem nam accusantium provident quia.
                    </p> -->
                </div>

            </div>

        </div>
    </section><!-- #about -->

</main>
<app-footer></app-footer>