@import "../../../variables";

.codetrac-logo {
  padding-left: 60px;
  padding-top: 19px;
  @include mobile{
    padding-left: 24px;
  }
}

.left-card {
  padding: 8px;
  margin-top: 34px;
  border-radius: 8px;
  box-shadow: -0.8px 2px 20px 0 rgba(0, 0, 0, 0.07);
  background-color: map-get($colors, whitecolor);
  border: 1px solid transparent;
  .login-heading {
    padding: 8px 0;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.88);
    }
  .ant-tabs-bar {
    border-bottom: 1px solid transparent;
  }
  .ant-tabs-tab {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
  }
  .ant-tabs-tab-active {
    color: map-get($colors, primary);
  }
  .ant-form-item-control{
    line-height: 45px;
  }

  .ant-input-prefix{
    color: rgb(217, 217, 217);
  }
  .ant-input-affix-wrapper{
    height: 40px;
    font-size: 16px;
    .ant-input{
      font-size: 16px;
    }
  }
@include mobile{
  margin-left: -60px;
  margin-right: 24px;
}

}
.login-form-button {
  display: block;
  width: 100%;
  margin-top: 42px;
  text-align: center;
  height: 40px;
  border-radius: 22px;
  box-shadow: 0 3px 4px 0 rgba(85, 132, 255, 0.15);
  background-color: map-get($colors, primary);
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  .icon-signin{
    margin-right: 5px;
    position: relative;
    top: 1px;
  }
}

.signup-form-button{
  display: block;
  width: 100%;
  text-align: center;
  height: 40px;
  border-radius: 22px;
  box-shadow: 0 3px 4px 0 rgba(85, 132, 255, 0.15);
  background-color: map-get($colors, primary);
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  .icon-signin{
    margin-right: 5px;
    position: relative;
    top: 1px;
  }
}

.login-form-forgot {
  float: right;
}
.divider-text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
}
.social-button-fb {
  height: 40px;
  padding: 0 12px;
  font-weight: bold;
  margin: auto 3px;
  color: #2b457d;
  font-size: 13px;
}
.social-button-google {
  height: 40px;
  padding: 0 12px;
  font-weight: bold;
  margin: auto 3px;
  color: #4285f4;
  font-size: 13px;
}
.social-button-ln {
  height: 40px;
  padding: 0 12px;
  font-weight: bold;
  margin: auto 1px;
  margin: auto 3px;
  color: #0077b7;
  font-size: 13px;
}
.advertisement-card{
  background-color: transparent;
  border: 1px solid transparent;
   margin-top: 20px;
  max-height: 405px;
  @include mobile{
    height: 250px;
  }
}
.quick-links-row{
  margin: 28px auto auto 16px;
  .quick-link-1{
    font-size: 16px;
    margin-right: 12px;
    min-height: 140px;
    border-radius: 5px;
    box-shadow: 0.8px 2px 20px 0 rgba(0, 0, 0, 0.06);
    background-color: map-get($colors, whitecolor);
    border: 1px solid transparent;
    text-align: center;
    p{
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: center;
      color: rgba(0, 0, 0, 0.65);
    }
    a{
      text-align: center;
      position: relative;
      top: -3px;
    }

    @include mobile{
      margin: auto 24px auto 12px;
    }

  }
  .quick-link-2{
    font-size: 16px;
    margin: auto 6px;
    min-height: 140px;
    border-radius: 5px;
    box-shadow: 0.8px 2px 20px 0 rgba(0, 0, 0, 0.06);
    background-color: map-get($colors, whitecolor);
    border: 1px solid transparent;
    text-align: center;
    p{
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: center;
      color: rgba(0, 0, 0, 0.65);
    }
    a{
      text-align: center;
      position: relative;
      top: -3px;
    }
    @include mobile{
      margin: 12px 24px auto 12px;
    }
  }
  .quick-link-3{
    font-size: 16px;
    margin-left: 12px;
    min-height: 140px;
    border-radius: 5px;
    box-shadow: 0.8px 2px 20px 0 rgba(0, 0, 0, 0.06);
    background-color: map-get($colors, whitecolor);
    text-align: center;
    border: 1px solid transparent;
    p{
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: center;
      color: rgba(0, 0, 0, 0.65);
    }
    a{
      text-align: center;
      position: relative;
      top: -3px;
    }
    @include mobile{
      margin: 12px 24px auto 12px;
    }
  }
}


.signin-footer{
  margin-top: 45px;
  min-height: 55px;
  background-color: map-get($colors, footer-color);
  .footer-text{
    padding-top: 16px;

    @include mobile{
      padding-left: 32px;
    }
  }
  .powered-by{
    float: right;
    a{
      font-weight: 600;
    }
    @include mobile{
      float: left;
    }
  }
}
