<app-header></app-header>
<main id="main">

    <!--==========================
    About Us Section
  ============================-->
    <section id="why-us" class="wow fadeIn" style="padding-top: 120px; padding-bottom: 0px">
        <div class="container">

            <header class="section-header">
                <h3>About</h3>
                <ul>
                    <li *ngFor="let eb of eblist">
                        {{eb.editorName}}
                        <p>{{eb.biography}}</p>
                    </li>
                </ul>
              </header>
        </div>
    </section>

</main>
<app-footer></app-footer>