<app-header></app-header>

<main id="main">

    <!--==========================
    About Us Section
  ============================-->
    <section id="why-us" class="wow fadeIn" style="padding-top: 120px; padding-bottom: 0px">
        <div class="container">

            <header class="section-header">
                <h3>Submit Manuscript</h3>
                <p>Submit your manuscript online</p>
               </header>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row about-extra">
                <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                    <img src="../assets/img/about-extra-2.svg" class="img-fluid" alt="">
                </div>

                <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                    <h4>Submit your manuscript online</h4>
                    <p>
                            Manuscripts/Articles must be submitted in accordance with guidelines.
                            Our <em>online manuscript system is under construnction</em>  kinly send your manuscript as an e-mail attachment to the Editorial Office at <strong>jresearchvalley@gmail.com</strong>
                    </p>
                    <!-- <p>
                        Voluptas saepe natus quidem blanditiis. Non sunt impedit voluptas mollitia beatae. Qui esse
                        molestias. Laudantium libero nisi vitae debitis. Dolorem cupiditate est perferendis iusto.
                    </p>
                    <p>
                        Eum quia in. Magni quas ipsum a. Quis ex voluptatem inventore sint quia modi. Numquam est aut
                        fuga mollitia exercitationem nam accusantium provident quia.
                    </p> -->
                </div>

            </div>

        </div>
    </section><!-- #about -->

</main>
<app-footer></app-footer>