<nz-card>
    <div class="row m-b-30">
        <div class="col-lg-8">
            <div class="d-md-flex">
                <div class="m-b-10 m-r-20">
                    <nz-input-group [nzPrefix]="prefixTemplate">
                        <input type="text" nz-input placeholder="Search" [(ngModel)]="search">
                    </nz-input-group>      
                    <ng-template #prefixTemplate>
                        <i nz-icon type="search" class="opacity-05"></i>
                    </ng-template>   
                </div>
                <div class="m-b-10 m-r-20 d-flex align-items-center">
                    <nz-select style="min-width: 220px;" class="w-100" nzPlaceHolder="Status">
                        <nz-option nzLabel="All" nzValue="all"></nz-option>
                        <nz-option nzLabel="Active" nzValue=1></nz-option>
                        <nz-option nzLabel="Inactive" nzValue=0></nz-option>
                    </nz-select>
                </div>
            </div>          
        </div>
        <div class="col-lg-4 text-right">
            <a nz-button nzShape="round" nzType="primary" [routerLink]="['/authentication/sign-up-1']">
                <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
                <span>Add user</span>
            </a>
        </div>
    </div>
    <nz-table #ordersListTable [nzData]="listOfAllData" 
            [nzFrontPagination]= "true" 
            [nzPageSize]="10"
             nzShowPagination
            (nzCurrentPageDataChange)="currentPageDataChange($event)"
            (nzPageIndexChange)="refreshStatus()"
            [nzLoading]="loading"
            (nzPageSizeChange)="refreshStatus()">
        <thead (nzSortChange)="sort($event)" nzSingleSort>
            <tr>
                <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
                <th nzShowSort nzSortKey="id">ID</th>
                <th nzShowSort nzSortKey="name">Customer</th>
                <th nzShowSort nzSortKey="date">Created Date</th>
                <th nzShowSort nzSortKey="amount">Gender</th>
                <th nzShowSort nzSortKey="status">Status</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of displayData | search:'name':search as count ; let i=index">
                <td nzShowCheckbox [(nzChecked)]="item.checked" (nzCheckedChange)="refreshStatus()"></td>
                <td>{{item.userId}}</td>
                <td>
                    <div class="d-flex align-items-center">
                        <nz-avatar [nzSize]="30" nzIcon="user" [nzSrc]="item.avatar"></nz-avatar>
                        <h6 class="m-l-10 m-b-0">{{item.userName}}</h6>
                    </div>
                </td>
                <td>{{item.createdDate | date: 'dd-mm-yyyy'}}</td>
                <td>{{item.gender}}</td>
                <td>
                    <nz-badge *ngIf="item.status ==  true" nzStatus="success"></nz-badge>
                    <nz-badge *ngIf="item.status ==  false" nzStatus="error"></nz-badge>
                    <span *ngIf="item.status ==  true"  class="text-capitalize"> Active</span>
                    <span *ngIf="item.status ==  false"  class="text-capitalize"> Inactive</span>
                </td>
                <td class="text-md-right">
                    <a [routerLink]="['/users/profile', item.userId]" class="m-r-5" nz-button nzType="default" nzGhost nzShape="circle" nz-tooltip nzTitle="Edit" nzPlacement="bottom">
                        <i nz-icon type="edit" theme="outline"></i>
                    </a>
                    <button nz-button nzType="default" nz-popconfirm nzPopoverTrigger="click" nzTitle="Are you sure delete this user?" (nzOnConfirm)="deleteUser(item.userId)" (nzOnCancel)="cancel()" nzGhost nzShape="circle">
                        <i nz-icon type="delete" theme="outline"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>
