<app-header></app-header>

<main id="main">

    <!--==========================
    About Us Section
  ============================-->
    <section id="why-us" class="wow fadeIn" style="padding-top: 120px; padding-bottom: 0px">
        <div class="container">

            <header class="section-header">
                <h3>Open Access Policy</h3>
                <p>{{homedesc}}</p>
              </header>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row">
            
                <div class="col-md-12 wow fadeInUp order-2 order-lg-1" [innerHTML]="homecontent">
                </div>

            </div>

        </div>
    </section><!-- #about -->

</main>
<app-footer></app-footer>