<nz-card nzTitle="Change Password">
    <form nz-form [formGroup]="changePWForm" (ngSubmit)="submitForm()">
        <div class="row">
            <div class="col-md-3">
                <nz-form-item>
                    <nz-form-label nzFor="oldPassword">Old Password</nz-form-label>
                    <nz-form-control>
                        <input formControlName="oldPassword" nz-input type="password" placeholder="Old Password">
                        <nz-form-explain *ngIf="changePWForm.get('oldPassword').dirty && changePWForm.get('oldPassword').errors">Please input your old password!</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>    
            <div class="col-md-3">
                 <nz-form-item>
                    <nz-form-label nzFor="newPassword">New Password</nz-form-label>
                    <nz-form-control>
                        <input formControlName="newPassword" nz-input type="password" placeholder="New Password">
                        <nz-form-explain *ngIf="changePWForm.get('newPassword').dirty && changePWForm.get('newPassword').errors">Please input your New Password!</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div> 
            <div class="col-md-3">
                <nz-form-item>
                    <nz-form-label nzFor="confirmPassword">Confirm</nz-form-label>
                    <nz-form-control>
                        <input formControlName="confirmPassword" nz-input type="password" placeholder="Confirm Password">
                        <nz-form-explain *ngIf="changePWForm.get('confirmPassword').dirty && changePWForm.get('confirmPassword').errors">Please confirm your New Password!</nz-form-explain>
                    </nz-form-control>                     
                    <nz-form-explain *ngIf="changePWForm.get('confirmPassword').hasError('confirm')">
                        Two passwords that you enter is inconsistent!
                    </nz-form-explain>
                </nz-form-item>
            </div>
            <div class="col-md-3">
                <nz-form-item>
                    <nz-form-control>
                        <button class="m-t-40" nz-button nzType="primary" [disabled]="!changePWForm.valid">Change</button>
                    </nz-form-control>
                </nz-form-item>
            </div>    
        </div>
    </form>
</nz-card>  