@import "../../../variables";

.footer-layout{
  background-color: map-get($colors, footer-color);
  font-size: 16px;
  .powered-by{
    float: right;
    a{
      font-weight: 600;
    }
    @include mobile{
      float: left;
    }
  }
}

.ant-layout-footer{
  padding: 16px;
}
